# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html
[settings]
default = ItcastTeaSpider.settings

[deploy:aaa]


url = http://10.254.3.191:6800/

project = ItcastTeaSpider